[submodule "chisel3"]
	path = chisel3
	url = https://github.com/freechipsproject/chisel3
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
[submodule "chiseltest"]
	path = chiseltest
	url = https://github.com/ucb-bar/chisel-testers2
[submodule "treadle"]
	path = treadle
	url = https://github.com/ucb-bar/treadle
